body{
    background: darkgray;
}
/* Style the navbar */
.nav-bar {
    overflow: hidden;
    background-color: #363636;
}
/* Navbar links */
.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
/* Navbar links on mouse-over */
.nav-bar a:hover {
    background-color:#F67280;
    color: black;
    border-radius: 8px;
}
/* Active/current link */
.nav-bar a.active {
    background-color:#F67280;
    color: white;
}

/* Style the input field inside the navbar */
.nav-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 11px;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}
.nav-bar input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
    border: 2px solid grey;
    border-radius: 11px;

}

/* Style the button inside the input container */
.nav-bar .login-container button {
    float: right;
    background-color: #F67280;
    color: white;
    padding: 6px;
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid grey;
    font-family: "Lucida Console", Monaco, monospace;
}

.nav-bar .login-container button:hover {
    background: palevioletred;
}
.nav-bar .login-container form{
    float:right;
}
.nav-bar .login-container a{
    float:right;
    margin: 0 -3px 0 -20px;
}


/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .nav-bar .login-container {
        float: none;
    }
    .nav-bar a, .nav-bar input[type=text], .nav-bar .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .nav-bar input[type=text] {
        border: 1px solid #ccc;
    }
}
/* čia yra gridas*/
#grid {
    display: grid;
    grid-template-areas: 'skill main ad';
    grid-template-columns: 250px auto 250px;
    grid-column-gap: 0.5cm;
    grid-row-gap: 0.5cm;
}

.griditem1 {
    grid-area: skill;
}

.griditem2 {
    grid-area: main;
    padding-top: 20px;
    background-color: lightgray;
    position: center;
    width: 850px;
    min-width: 850px;
    height: 1400px;
    margin: 0 auto;
    border: 0;
}


.griditem3 {
    grid-area: ad;
}

.row{
    margin-left: 50px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    margin-bottom: 10px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.griditem2 {
    background-color: lightgray;
    padding-top: 20px;
    position: center;
    width: auto;
    min-width: auto;
    margin: 0 auto;
}

.card {
    box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.card {margin: 20px 10px 0 auto;
    position: center;
    transition: transform .2s;
}
.card:hover{
    transform: scale(1.5);
}

.griditem2 .container {
    float:left;
    padding: 10px 16px 35px;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    background-color: white;
}

.container h2 {
    font-size: 25px;
}

.griditem2 .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.griditem2 .title {
    color: black;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 19px;
}

.footer{
    background-color: #363636;
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer p{
    padding: 10px 0 10px 10px;
    font-family: "Lucida Console", Monaco, monospace;
}