body{
    background: darkgray;
}
/* Style the navbar */
.nav-bar {
    overflow: hidden;
    background-color: #363636;
}
/* Navbar links */
.nav-bar a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
/* Navbar links on mouse-over */
.nav-bar a:hover {
    background-color:#F67280;
    color: black;
    border-radius: 8px;
}
/* Active/current link */
.nav-bar a.active {
    background-color:#F67280;
    color: white;
}

/* Style the input field inside the navbar */
.nav-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 11px;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}
.nav-bar input[type=password] {
    padding: 6px;
    margin-top: 8px;
    font-size: 15px;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
    border: 2px solid grey;
    border-radius: 11px;

}

/* Style the button inside the input container */
.nav-bar .login-container button {
    float: right;
    background-color: #F67280;
    color: white;
    padding: 6px;
    border-radius: 2px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid grey;
    font-family: "Lucida Console", Monaco, monospace;
}

.nav-bar .login-container button:hover {
    background: palevioletred;
}
.nav-bar .login-container form{
    float:right;
}
.nav-bar .login-container a{
    float:right;
    margin: 0 -3px 0 -20px;
}


/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .nav-bar .login-container {
        float: none;
    }
    .nav-bar a, .nav-bar input[type=text], .nav-bar .login-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .nav-bar input[type=text] {
        border: 1px solid #ccc;
    }
}
.main {
    background-color: lightgray;
    padding-top:100px;
    position: center;
    width: 450px;
    height: 500px;
    min-width: 450px;
    margin: 0 auto;

}
h1{
    font-size: 28px;
    text-align: center;
    padding-bottom: 20px;
    font-family: "Lucida Console", Monaco, monospace;}
p {
    font-size: 18px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Lucida Console", Monaco, monospace;}

.main input[type=text] {
    padding: 8px;
    margin-top: 12px;
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 11px;
    width: 250px; /* adjust as needed (as long as it doesn't break the topnav) */
}

.main input[type=password] {
    padding: 8px;
    margin-top: 12px;
    font-size: 20px;
    width: 250px; /* adjust as needed (as long as it doesn't break the topnav) */
    border: 2px solid grey;
    border-radius: 11px;

}
.main form{

    padding-bottom: 100px;
    padding-left: 85px;
}

.main button {

    background-color: orange;
    color: black;
    padding: 12px;
    margin: 10px 0 0 70px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Lucida Console", Monaco, monospace;
}
.main button:hover {
    background-color: black;
    color: white;
}


.footer{
    background-color: #363636;
    color:white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer p{
    padding: 10px 0 10px 10px;
    font-family: "Lucida Console", Monaco, monospace;}